@media screen and (min-width: 800px) 
{
  *{
    border: 1px solid green;
  }
.toggle-label
  {
    display: none; 
  }
  
  header 
  {
  display: flex; 
  justify-content: space-around;
  
  }
  
 .navbar 
  {
   all: unset;
   color: white;
   display: flex; 
   
  }
  .navbar a 
  {
   opacity: 1;
  }
  .navbar ul 
  {
   display: flex; 
  }
  .navbar ul li 
  {
   margin: 2rem;
  }
}
