@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Raleway:wght@200;500;800&display=swap');

:root 
{
    --nav-background-color: #73956f;
    --heading-font: "Raleway:wght@500", Couier, monospace;
    --paragraph-font: "Delicious Handrawn";

    --primary-color: #454851  ;
    --secondary-color: #73956f ;
    --accent1-color: #7bae7f;
    --accent2-color: #Edf5fc;
      --accent3-color:#ffc09f;
}


body 
{
font-family: var(--paragraph-font);
margin: 0; 
box-sizing: border-box;
background-color: var(--accent2-color);
}
/*main home page*/
main {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    padding:3px;
}

h3 {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;
}
h2{
  font-family: var(--heading-font);
  color:var(--accent2-color);
}
/*form*/
.form h2{
  color:var(--accent1-color);
  border:1px solid var(--accent3-color);
  text-align: center;
}

.content{
  display:flex;
}

form {
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid var(--accent3-color);
  border-radius: 1em;
}
#msg{
  color: var(--accent1-color);
}
.form_button{
  background-color: var(--accent3-color);
  border: 2px solid #Edf5fc;
  border-radius: 4px;
  display: inline-block;
  color: #73956f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}
fieldset{
  background-color: #EFF6EE;
  color:var(--nav-background-color);
}


p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
  transform: translateY(-10px);
}


/*Nav Bar styling*/
header, footer{
  font-family: var(--heading-font);
  background-color: #B5c2b7;
  color: var(--secondary-color);
  padding: 1.2rem;
  text-align: center;
}
.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between; 

}
nav{
  position: relative;
  
}
nav button{
  margin: .2rem ;
  background: transparent;
  font-size: 2rem;
  color: #EFF6EE;
  border: none;

}
nav button.open:hover, .close-btn:hover{
  color:var(--accent1-color);
  
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  
}
header div nav.open{
  width: 100%;
  height: auto;
  margin: 0;
  position:absolute;
  top: 0;
  left: 0;
  border: 1px solid #EFF6EE;
  background-color: #454851;
  transform: translateY(7%);
  transition: transform 0.5s;
  z-index: 1;
  
}
nav ul.open{
  display: block;
  
}
nav ul li a{
  display: block;
  padding: 1rem ;
  text-decoration: none;
  color: #EFF6EE;
  border: 1px solid #73956f;
}
nav ul li.active a{
  background-color: #EFF6EE;
  color: #73956f;
}

nav ul li a:hover{
  background-color: #ffc09f;
}

#hamburgerBtn span:nth-child(1), 
#hamburgerBtn.open span:nth-child(2) {
  display: block;

}
#hamburgerBtn span:nth-child(2), 
#hamburgerBtn.open span:nth-child(1),
.spotlights div:nth-child(3), 
.join, .list img{
  display: none;

}
.primaryNav{
  margin-left: auto;
  overflow: hidden;
  position: relative;
}

.logo{
  width:20%;
  height:auto;
  position:relative;
  top: 0;
  left: 0;
}





/*main  styling*/
.square1{
  border: 1px solid #ffc09f;
  width:100%;
  background-color: var(--accent1-color);
  text-align: center;
}
.square1 img{
  width:100%;
  height: auto;
}
.square2, .square3, .square4, .info, .map{
  border: 1px solid #ffc09f;
  width:100%;
  background-color: var(--accent1-color);
  text-align: center;
}
.square2 img{
  width:100%;
  height: auto;
}
.map{
  padding:5px;
}
.contacts{
  text-decoration: none;
  color:white;
}
/*social icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin:10px;
}
.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #f80f0f;
  color: white;
}
.hero-banner{
  background-color: #7bae7f;
  border:2px solid var(--accent3-color);
}
.hero-banner h3{
  text-align: right;
  padding:5px;
}
.banner h1{
  font-family: var(--heading-font);
  color:var(--accent3-color);
  text-align: right;
  margin: 5px;
  padding:5px;
}
.banner img{
  z-index: -1;
  width:auto;
}


/* button */

.button {
  background-color: var(--accent3-color);
  border: 2px solid #Edf5fc;
  border-radius: 4px;
  display: inline-block;
  color: #73956f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}
.button :hover {
  background-color: #73956f;
}
.button a{
  text-decoration: none;
  color:var(--secondary-color);
}
.button a:hover{
  color:#Edf5fc;
}









.nav-toggle:checked ~ nav a 
{
opacity: 1;
transition: opacity 250ms ease-in-out 250ms;
}
footer{
  width: 100%;
  background:#73956f;
  text-align: center; 
  opacity: .8;
  z-index: 99;

  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.footer {
  height: auto;
  width: min(100% - 3rem, 55rem);
  
  padding: 10px;
}


